<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="keywords" content="">
    	<meta name="description" content="">
    	<meta content="telephone=no" name="format-detection">
		<link rel="shortcut icon" href="http://www.shengli.com/Public/Home/five/images/favicon.ico" type="image/x-icon" />
		<link rel="stylesheet" href="https://download.shengli.com/logos/2017-3-15/css/index.css" />
		<script src="http://download.shengli.com/www/commonjs/wap/setsize.js"></script>
	</head>
	<body>
		
		<div id="page">
			<header class="clear">
	            <div class="icon_box">
	                <img class="icon" src="https://download.shengli.com/logos/qmcq-icon.png" alt="">
	            </div>
	            <div class="info">
	                <p class="name">全民传奇 复古经典版</p>
	                <p>注册即送 超酷炫装备</p>
	            </div>
	            <div class="btn_box">
	                <a href="https://itunes.apple.com/cn/app/id1178322253" class="download download-btns block btn
	"><img src="https://download.shengli.com/logos/2017-3-15/images/download.png" alt=""></a>
	            </div>
	        </header>
	        <img class="wimg" src="https://download.shengli.com/logos/2017-3-15/images//top.gif" alt="">
	        <img class="wimg" src="https://download.shengli.com/logos/2017-3-15/images//bottom.gif" alt="">
	        <a href="" class="download">
	        	<img src="https://download.shengli.com/logos/2017-3-15/images//download2.png" alt="" class="wimg">
	        </a>
	        <img src="https://download.shengli.com/logos/2017-3-15/images//footer.jpg" alt="" class="wimg">
	        <p class="footer"></p>
		</div>
		
		<script src="http://download.shengli.com/www/jquery-2.2.1.min.js"></script>
		
		<!--统计代码-->
		<div class="none">
		-------------百度
		<script>
		var _hmt = _hmt || [];
		(function() {
		  var hm = document.createElement("script");
		  hm.src = "//hm.baidu.com/hm.js?19464f9317c12f094eed0b12562af6ce";
		  var s = document.getElementsByTagName("script")[0]; 
		  s.parentNode.insertBefore(hm, s);
		})();
		</script>

		------------CNZZ
		<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1258588798'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s11.cnzz.com/z_stat.php%3Fid%3D1258588798' type='text/javascript'%3E%3C/script%3E"));</script>
		<script type="text/javascript">
			//统一添加事件跟踪
			$('.download').click(function(){
				//cnzz
				_czc.push(["_trackEvent","tlkz","01"]);
				//baidu
				_hmt.push(['_trackEvent', "tlkz01"]);
			})
		</script>
		
	</body>
</html>
