<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="keywords" content="">
    	<meta name="description" content="">
    	<meta content="telephone=no" name="format-detection">
		<link rel="shortcut icon" href="http://www.shengli.com/Public/Home/five/images/favicon.ico" type="image/x-icon" />
		<link rel="stylesheet" href="/css/xyjldy/index.css" />
		<script src="https://download.shengli.com/www/commonjs/wap/setsize.js"></script>
	</head>
	<body>
		
		<div id="page">
			<img src="/images/xyjldy/cqsj-logo.png"  class="logo">
		</div>

	</body>
</html>
