@import "../common/common.scss";

$w:640/2/16rem;

// 背景
@mixin bgs($height,$str){
  height:rem($height);
  background:url(/images/download_xyj/#{$str}) no-repeat center;
  background-size:100% 100%;
}

// 按钮
@mixin btns($width,$height,$bg,$color,$fs,$br){
  width:rem($width);
  height:rem($height);
  line-height:rem($height);
  background:$bg;
  color:$color;
  font-size:rem($fs);
  border-radius:rem($br);
  -webkit-border-radius:rem($br);
  text-align:center;
}

// 文字
@mixin texts($color,$fs){
  color:$color;
  font-size:rem($fs);
}

// return rem 
@function rem($num){
  @return $num/2/$w;
}

@mixin bx{
   box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;-ms-box-sizing: border-box;-op-box-sizing: border-box; 
}
@mixin transition($a){
    transition: $a;-webkit-transition: $a;-moz-transition: $a;-ms-transition: $a;
}
@mixin br($a){border-radius: $a;-webkit-border-radius: $a;-moz-border-radius: $a;-ms-border-radius: $a;}

@mixin transform($str){ transform: $str; -webkit-transform: $str;-moz-transform: $str; -ms-transform: $str;}
@mixin animation($str){
    animation: $str;
    -moz-animation: $str;
    -webkit-animation:$str;
    -ms-animation: $str;
}



html{ max-width:640px;margin:0 auto;}

header{
  position:fixed;
  top:0;
  left:50%;
  margin-left: rem(-320);
  max-width:640px;
  padding-top: rem(10);
  width:100%;
  height:rem(110);
  background:url(/images/download_xyj/headerbg.jpg) no-repeat center 0 ;
  background-size:100% 100%;
  .icon{
    margin-left: rem(35);
    width:rem(92);
  }
  .descrotion{
    margin-left: rem(20);
    color:#fff;
    .title{
      margin:rem(16) 0 rem(0) 0;
      font-size: rem(20);
    }
    img{
      position: relative;
      margin-left: rem(-4);
      width:rem(165);
    }
  }
  .download{
    margin:rem(25) rem(30) 0 0;
    img{width:rem(194);}
  }
}

#main{
  margin-top: rem(110);
  @include bgs(847,'mainbg.jpg');
  .logo{
    margin:rem(26)  0 0  rem(30);
    width:rem(166);
  }
  .download{
    display: block;
    margin:rem(562) 0 0 rem(112);
    img{
      width:rem(407);
    }
  }
}

#slide{
  @include bgs(567,'slidebg.jpg');
  overflow: hidden;
}
// wap slide
#ad{
  position: relative;
  margin: rem(130) auto  0 auto;
  width:rem(580);
  height:rem(384);
  border:1px solid #6e3f1a;
  overflow: hidden;
  transform-style: preserve-3d; 
  -webkit-transform-style: preserve-3d;
}
#ad ul{ position: absolute;width: 500%;height:100%;transform: translateX(0px); transform:translateZ(0.01px);backface-visibility:hidden; -webkit-backface-visibility:hidden;z-index: 10;}
#ad ul li{ width: rem(580);height:100%; float: left;overflow: hidden;}
#ad ul li img{width:100%;height:100%;}
#ad ol{width: 100%;position: absolute;text-align: center;bottom: 0.3rem;z-index: 240;}
#ad ol li{ width: 10px;height:10px;border-radius: 5px;background: #d6d6d6; display: inline-block;}
#ad ol li.active{  background: #fff; }

.footer{
  padding:0.2rem;
  background:#000000;
  text-align:center;
  p{
   font-size: rem(24);
   color:#575757;
  }
}