<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>轩辕剑3</title>
		<meta name="keywords" content="">
    	<meta name="description" content="">
    	<meta content="telephone=no" name="format-detection">
		<link rel="shortcut icon" href="http://www.shengli.com/Public/Home/five/images/favicon.ico" type="image/x-icon" />
		<link rel="stylesheet" href="/css/download_xyj/index.css" />
		<script src="https://download.shengli.com/www/commonjs/wap/setsize.js"></script>
	</head>
	<body>
		
		<!-- wap 轮播图 -->
		<div id="ad"> 
			<ul class="list">
				<li>1</li>
				<li>2</li>
				<li>3</li>
				<li>4</li>
			</ul>
			<ol class="btns">
				<li class="active"></li>
				<li></li>
				<li></li>
				<li></li>
			</ol>
		</div>

		<!-- 自定义滚动条 -->
		<!-- <div id="content">
			<div id="scroll-page">
				<p>内容区域</p>
				<p>内容区域</p>
				<p>内容区域</p>
				<p>内容区域</p>
				<p>内容区域</p>
				<p>内容区域</p>
				<p>内容区域</p>
				<p>内容区域</p>
			</div>
			<div id="scroll-bar"></div>
		</div> -->

		<!-- 轮播图 -->
		<!-- <div class="slider">
			<div class="slider_imgs">
				<ul class="clear">
					<li class="fl">
						<img src="http://img1.imgtn.bdimg.com/it/u=2194982215,1837111272&fm=23&gp=0.jpg"  />
					</li>
					<li class="fl">
						<img src="http://img.qqu.cc/uploads/allimg/150215/1-150215204246.jpg"  />
					</li>
					<li class="fl">
						<img src="http://thumbs.dreamstime.com/t/%BA%D3%CC%EC%BF%D5%CF%C4%CC%EC%CA%F7%B7%E7%BE%B0%D7%D4%C8%BB%C9%AD%C1%D6-31472196.jpg"  />
					</li>
					<li class="fl">
						<img src="http://www.feizl.com/upload2007/2015_04/1504161503551362.jpg"  />
					</li>
					<li class="fl">
						<img src="http://thumbs.dreamstime.com/t/%D3%EB-%C9%AB%CA%F7%B5%C4%B4%BA%CC%EC%B7%E7%BE%B0-29760891.jpg"  />
					</li>
				</ul>
			</div>
			<div class="slider_leftbtn">上一张</div>
			<div class="slider_rightbtn">下一张</div>
		</div> -->
		


		<!-- 选项卡 -->
		<!-- <div class="tabs-box">
			<div class="tab_btns clear">
                <a href="javascript:;" class="active">新闻公告</a>
                <a href="javascript:;">最新资讯</a>
                <a href="javascript:;">论坛热帖</a>
            </div>
            <div class="tab_pages">
                <div class="tab_con" style="display: block;">
                    <ul>
                        <li class="clear"><a class="fl" href="/news/newsdetail/id/1639" target="_blank">【公告】关于官网30天签到《航海王强者之路》礼包领取恢复正常的公告</a></li><li class="clear"><a class="fl" href="/news/newsdetail/id/1627" target="_blank">【公告】《航海王强者之路》V1.3.0版本特色介绍</a></li><li class="clear"><a class="fl" href="/news/newsdetail/id/1610" target="_blank">【公告】《航海王强者之路》6月22日停服更新公告</a></li><li class="clear"><a class="fl" href="/news/newsdetail/id/1593" target="_blank">【公告】《航海王强者之路》6月18号登陆异常公告</a></li><li class="clear"><a class="fl" href="/news/newsdetail/id/1038" target="_blank">【公告】《航海王强者之路》新版更新 船炮助阵营救妮可·罗宾</a></li>
                    </ul>
                </div>
                <div class="tab_con">
                    <ul>
                        <li class="clear"><a class="fl" href="/news/newsdetail/id/1642" target="_blank">【资讯】要战就战个痛快 《航海王强者之路》巅峰对决现已上线</a></li><li class="clear"><a class="fl" href="/news/newsdetail/id/1621" target="_blank">【资讯】《航海王强者之路》公测季来袭 首批红卡登场</a></li><li class="clear"><a class="fl" href="/news/newsdetail/id/1483" target="_blank">【资讯】海岛争夺即将开启 《航海王强者之路》团站全面升级</a></li><li class="clear"><a class="fl" href="/news/newsdetail/id/1380" target="_blank">【资讯】《航海王强者之路》最爽快的海盗团战跨服公会战一触即发</a></li><li class="clear"><a class="fl" href="/news/newsdetail/id/1270" target="_blank">【资讯】全民炫称号 《航海王强者之路》为伙伴而战！</a></li>                                </ul>
                </div>
                <div class="tab_con">
                    <ul>
                        <li class="clear"><a class="fl" href="http://v.qq.com/boke/page/j/0/v/j0196j66bxv.html" target="_blank">【热帖】爱游戏的萌妹纸</a></li><li class="clear"><a class="fl" href="http://v.qq.com/boke/page/j/0/v/j0196j66bxv.html" target="_blank">【热帖】移动的表情包</a></li><li class="clear"><a class="fl" href="http://v.qq.com/boke/page/j/0/v/j0196j66bxv.html" target="_blank">【热帖】机灵古怪的暴力萝莉</a></li><li class="clear"><a class="fl" href="http://v.qq.com/boke/page/j/0/v/j0196j66bxv.html" target="_blank">【热帖】才貌双全的女王</a></li>                                </ul>
                </div>
            </div>
		</div> -->
		
		<script src="/dist/bundle.js"></script>
		
		<script src="https://download.shengli.com/www/jquery-2.2.1.min.js"></script>
		<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
		<script src="https://download.shengli.com//www/commonjs/weixin.js"></script>
		<script type="text/javascript">
		    if(isWeiXin()){
		        config('{$appId}', '{$timestamp}', '{$nonceStr}', '{$signature}', '分享标题', '分享内容', '分享链接', '分享图标', function(){
		        	//分享成功回调函数
		        });
		    }
			function isWeiXin(){ 
			  var ua = window.navigator.userAgent.toLowerCase(); 
			  if(ua.match(/MicroMessenger/i) == 'micromessenger'){ 
			    return true; 
			  }else{ 
			    return false; 
			  } 
			}
		</script>
	</body>
</html>
